/**
  COLORS: 

    PURPLE: #673AB7
    TEAL: #009688
*/

/** GLOBALS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/** FONTS */
* {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alegreya';
}
