/**
  COLORS: 

    PURPLE: #673AB7
    LIGHT PURPLE: #D1C4E9
    TEAL: #009688
    GREY: #607D8B
*/

/** GLOBALS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/** FONTS */
* {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alegreya';
}

/** LAYOUT */
.app-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.gutter {
  width: 25vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ECF0F1;
  overflow: auto;
}

.gutter-card-container {
  padding: 30px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main{
  width: 75vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
}

/** CARDS */
.card-shadow {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card-shadow:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.add-bill-shadow {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.bill-card {
  margin: 5% 2.5%;
  width: 80%;
  border-radius: 5px;
  padding: 32px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 16px 0;
}

/** INPUT AND FORMS */
form {
  width: 90%;
}

input[type=text] {
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: #D1C4E9;
  padding: 12px 20px;
  width: 100%;
}

input[type=text]:focus {
  outline: none;
}

input[type=submit] {
  border: none;
  background-color: #673AB7;
  color: #fff;
  border-radius: 5px;
  padding: 16px 0px;
  transition: background-color 0.3s ease-in-out;
}

input[type=submit]:hover {
  background-color: #9575CD;
}

.add-card-buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px 0;
  width: 60%;
  margin: 16px auto 0;
}

.input-border-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 1px;
  opacity: 0;
  background-color: #673AB7;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: all 0.3s ease;
}

input:focus ~ span {
  transform: translate(-50%, 0) scaleX(1);
  opacity: 1;
}

.input-wrapper {
  position: relative;
}
